.dashboard {
  width: min(100%, 1366px);
  margin-inline: auto;
  border: var(--d-border);
}
header {
  width: min(98%, 1366px);
  margin-inline: auto;
}
.container {
  width: min(85%, 1366px);
  margin-inline: auto;
}

/* logo */
.logo {
  font-size: var(--fs-300);
  color: var(--clr-primary-100);
  gap: 0.2em;
}
.logo span {
  font-weight: var(--fw-bold);
  font-size: var(--size-400);
}

/* header style */
header .header-contant {
  width: 100%;
  justify-content: space-between;
  margin: var(--size-200) 0;
}
header .header-contant ul {
  display: flex;
  gap: var(--size-300);
  font-size: var(--fs-200);
  font-weight: var(--medium);
  color: var(--clr-primary-300);
}
header .header-contant ul li:last-child span {
  font-size: var(--fs-300);
}
header .header-contant ul li:last-child {
  color: var(--clr-primary-100);

  gap: var(--size-100);
  font-size: var(--fs-200);
  font-weight: var(--fw-semi-bold);
}

/* main */
.refer-earn-contant p {
  margin: var(--size-500) 0;
  justify-content: unset;
}
.refer-earn-contant {
  width: 100%;
}
.withdraw {
  background-color: var(--clr-accent-100);
  width: min(100%, 480px);
  padding: var(--size-200);
  border-radius: var(--br-200);
  box-shadow: var(--boxs-200);
  text-align: center;
  /* margin-inline: auto; */
}
.withdraw ul {
  color: var(--clr-primary-100);
  font-size: var(--fs-200);
  font-weight: var(--medium);
  justify-content: space-between;
}
.withdraw ul li span {
  color: var(--clr-neutral-100);
  font-size: var(--fs-400);
}
.btn {
  width: fit-content;
  margin-top: var(--size-400);
  background-color: var(--clr-primary-100);
  border-radius: var(--br-200);
  padding: var(--size-100) var(--size-300);
  border: none;
  outline: none;
  font-weight: var(--fw-medium);
  font-size: var(--fs-200);
}
.refer-earn-contant .refere-earn-card {
  justify-content: space-between;
}
@media (width <= 900px) {
  .refer-earn-contant .refere-earn-card {
    flex-direction: column;
  }
}

.referral-code {
  color: var(--clr-primary-100);
  text-align: center;
  width: min(100%, 400px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-200);
}
.referral-code h1:first-child {
  font-size: var(--fs-300);
  font-weight: var(--fw-semi-bold);
}
.referral-code h1:last-child {
  width: fit-content;
  letter-spacing: 1.5em;
  padding: var(--size-200) var(--size-300);
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: var(--lg-color);
  font-size: var(--fs-200);
  font-weight: var(--fw-medium);
}

@media (width <= 1000px) {
  .referral-code h1:last-child {
    letter-spacing: 1em;
  }
}
