.dashboard {
  width: min(100%, 1366px);
  margin-inline: auto;
}
header {
  width: min(98%, 1366px);
  margin-inline: auto;
}
.container {
  width: min(80%, 1366px);
  margin-inline: auto;
}

/* logo */
.logo {
  font-size: var(--fs-300);
  color: var(--clr-primary-100);
  gap: 0.2em;
}
.logo span {
  font-weight: var(--fw-bold);
  font-size: var(--size-400);
}

/* header style */
header .header-contant {
  width: 100%;
  justify-content: space-between;
  margin: var(--size-200) 0;
}
header .header-contant .header-list {
  display: flex;
  gap: var(--size-300);
  font-size: var(--fs-200);
  font-weight: var(--medium);
  color: var(--clr-primary-300);
}
header .header-contant .header-list a:last-child span {
  font-size: var(--fs-300);
}
header .header-contant .header-list a:last-child {
  color: var(--clr-primary-100);

  gap: var(--size-100);
  font-size: var(--fs-200);
  font-weight: var(--fw-semi-bold);
}

/* main */
.refer-earn-contant p,
.refer-contant p,
.refer-contant .go-back {
  margin: var(--size-500) 0;
  justify-content: unset;
}

.refer-contant .go-back {
  color: var(--clr-primary-100);
  text-decoration: none;
  font-size: var(--fs-200);
  font-weight: var(--fw-medium);
  gap: 0.2em;
}
.refer-earn-contant {
  width: 100%;
}
.withdraw {
  background-color: var(--clr-accent-100);
  width: min(100%, 480px);
  padding: var(--size-200);
  border-radius: var(--br-200);
  box-shadow: var(--boxs-200);
  text-align: center;
}
.withdraw .withdraw-list {
  color: var(--clr-primary-100);
  font-size: var(--fs-200);
  font-weight: var(--fw-medium);
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-evenly;
  align-items: center;
}
.withdraw .withdraw-list p {
  margin: 0;
}
.withdraw .withdraw-list p span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.withdraw .withdraw-list p span {
  color: var(--clr-neutral-100);
  font-size: var(--fs-400);
}
.btn {
  width: fit-content;
  margin-top: var(--size-400);
  background-color: var(--clr-primary-100);
  border-radius: var(--br-200);
  padding: var(--size-100) var(--size-300);
  border: none;
  outline: none;
  font-weight: var(--fw-medium);
  font-size: var(--fs-200);
}
.refer-earn-contant .refere-earn-card {
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--size-900);
}
@media (width <= 900px) {
  .refer-earn-contant .refere-earn-card {
    flex-direction: column;
  }
}

.referral-code {
  color: var(--clr-primary-100);
  text-align: center;
  width: min(100%, 500px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-200);
}
.referral-code h1:first-child {
  font-size: var(--fs-300);
  font-weight: var(--fw-semi-bold);
}
.referral-code h1:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px 32px;
  display: inline-block;
  letter-spacing: 1.3em;
  font-size: 22px;
  font-weight: var(--fw-medium);
  text-align: center;
}
.referral-code h1:last-child::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 10px;
  padding: 2px;
  background: var(--lg-color);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

@media (width <= 610px) {
  .referral-code h1:last-child {
    letter-spacing: 1em;
    font-size: 16px;
    font-weight: var(--fw-medium);
    padding: var(--size-200) var(--size-300);
  }
}

@media (width <= 380px) {
  .referral-code h1:last-child {
    letter-spacing: 0.5em;
    font-size: 14px;
    font-weight: var(--fw-semi-bold);
    padding: var(--size-200) var(--size-200);
  }
}

.lists-contant > h1 {
  color: var(--clr-primary-100);
  font-size: var(--fs-300);
  font-weight: var(--fw-medium);
  margin: var(--size-200) 0;
  margin-top: var(--size-400);
}
.lists-contant .lists {
  gap: var(--size-400);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
  justify-items: start;
  align-items: center;
  margin-bottom: var(--size-600);
}
.lists-contant .lists .list {
  gap: 1em;
}
.lists-contant .lists .icons {
  width: 65px;
  height: 65px;
  background-color: var(--clr-accent-300);
  border-radius: 50%;
}

.lists-contant .lists .list .icons svg {
  font-size: var(--icons-color);
  fill: url(#blue-gradien);
  display: initial;
}
.lists-contant .lists .list .list-text {
  width: min(90%, 500px);
}
.lists-contant .lists .list .list-text h1 {
  color: var(--clr-neutral-100);
  font-size: var(--fs-200);
  font-weight: var(--fw-medium);
}
.lists-contant .lists .list .list-text p {
  color: var(--clr-neutral-300);
  font-size: var(--fs-200);
  font-weight: var(--fw-regular);
  margin: 0;
}

.footer,
.link {
  color: var(--clr-primary-100);
  font-size: var(--fs-200);
  font-weight: var(--fw-regular);
  text-decoration: none;
  padding: var(--size-200) 0 !important;
}

/* dt-no-display */
@media (width < 700px) {
  .dt-no-display {
    display: none;
  }

  .profile {
    background-color: var(--clr-primary-100);
    color: var(--clr-accent-100) !important;
    border-radius: var(--br-200);
    padding: var(--size-100) var(--size-200);
  }
}

/* frend referred page style */
.refer-code {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

@media (width < 450px) {
  .refer-code {
    flex-direction: column;
    align-items: flex-start;
  }
}
.refer-code-contant {
  display: flex;
  flex-direction: column;
  color: var(--clr-primary-100);
  gap: 1em;
  margin-bottom: 1em;
}
.refer-code-contant h1 {
  font-size: var(--fs-200);
  font-weight: var(--fw-regular);
}
.refer-code-contant p {
  color: var(--clr-neutral-100);
  font-size: var(--fs-200);
  font-weight: var(--fw-medium);
  letter-spacing: 0.75em;
  border-radius: 10px;
  border: 2px solid #80808076;
  padding: var(--size-100) var(--size-200);
  width: fit-content;
  margin: 0;
}

.wallet-bal {
  box-sizing: var(--boxs-200);
  width: min(100%, 145px);
  height: 80px;
  background-color: var(--clr-accent-100);
  border-radius: 10px;
  display: grid;
  place-content: center;
}

.wallet-bal p {
  color: var(--clr-primary-100);
  font-size: var(--fs-100);
  font-weight: var(--fw-semi-bold);
  display: flex;
  width: fit-content;
  margin: 0;
}

.wallet-bal h1 {
  display: flex;
  align-items: center;
  color: var(--clr-neutral-100);
  font-size: var(--fs-200);
  font-weight: var(--fw-medium);
}

.cards h1 {
  color: var(--clr-primary-100);
  font-size: 20px;
  margin: 1em 0;
  font-weight: var(--fw-semi-bold);
}

.cards .card .card-contant .card-header {
  justify-content: space-between;
}
.cards .card .card-contant .card-header h1 {
  font-size: var(--fs-200);
  color: var(--clr-accent-100);
  font-weight: var(--fw-bold);
}
.cards .card .card-contant .card-header p {
  margin: 0;
  font-size: var(--fs-100);
  color: var(--clr-accent-100);
  font-weight: var(--fw-medium);
}
.cards .card .card-contant .card-main h2 {
  justify-content: flex-start;
  font-size: var(--fs-200);
  color: var(--clr-accent-100);
  font-weight: var(--fw-regular);
}
.cards .card .card-contant .card-main h2 span {
  font-size: var(--fs-300);
  font-weight: var(--fw-semi-bold);
}
.cards .card .card-contant .card-main h3 {
  margin: 0.5em 0;
  font-size: var(--fs-100);
  color: var(--clr-accent-100);
  font-weight: var(--fw-medium);
}
.cards .card .card-contant .card-main .curses-list {
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.6em;
}
.cards .card .card-contant .card-main .curses-list p {
  margin: 0;
  color: var(--clr-accent-100);
  padding: 0.2em var(--size-100);
  border: 2px solid var(--clr-accent-100);
  border-radius: 20px;
  font-size: var(--fs-100);

  font-weight: var(--fw-regular);
}

.cards .card {
  background-image: var(--lg-color);
  border-radius: var(--br-200);
  min-width: 358px;
  padding: 1em;

  scroll-snap-align: start;
}
.cards-contant {
  height: calc(min(100%, 400px));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  gap: 2em;
  margin: 2rem 0;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  border-radius: 20px;
}

.cards-contant::-webkit-scrollbar {
  display: none;
}

@media (width <= 515px) {
  .container {
    width: min(90%, 1366px);
    margin-inline: auto;
  }

  .cards-contant {
    flex-direction: column;
    height: fit-content;
    overflow-x: unset;
    align-items: center;
  }

  .cards .card {
    min-width: unset;
    width: min(100%, 358px);
  }
  .refer-contant p {
    font-size: 0.8em;
    font-weight: 600;
  }
  .profile {
    padding: 0.1em 0.5em !important;
    font-size: 12px !important;
  }
}

@media (width >= 700px) {
  .go-back {
    display: none;
    margin: 0;
    padding: 0;
  }
}
