/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
:root {
  --clr-accent-100: #ffffff;
  --clr-accent-200: #e5e5e5;
  --clr-accent-300: rgb(218 193 193 / 28%);

  --clr-primary-100: #800080;
  --clr-primary-200: #eeaeae;
  --clr-primary-300: #80008040;

  --clr-neutral-100: #000000;
  --clr-neutral-200: #555454;
  --clr-neutral-300: #4d4d4d;
  --clr-neutral-400: #887f78;
  --clr-neutral-500: #c5c5c5;

  --ff-primery: 'Poppins', sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-100: 14px;
  --fs-200: 16px;
  --fs-300: 24px;
  --fs-400: 32px;

  --icons-size: 32px;

  --fs-body: calc(10px + 2vmin);

  --ts-400: all 0.2s linear;

  --size-100: 0.5em;
  --size-200: 1em;
  --size-300: 1.5em;
  --size-400: 2em;
  --size-500: 2.5em;
  --size-600: 3em;
  --size-700: 3.5em;
  --size-800: 4em;
  --size-900: 5em;

  --lg-color: linear-gradient(270deg, #800080 0%, #ff864c 100%);

  --boxs-100: 0px 2px 8px #80008026;
  --boxs-200: 0px 3px 100px #0000001a;

  --br-100: 10px;
  --br-200: 20px;

  --card-w: 358px;
  --card-h: 228px;

  --d-border: 2px solid hotpink;
}
.bg-lg-color {
  background-color: var(--lg-color);
}
.clr-lg-color {
  color: var(--lg-color);
}
* {
  /* border: var(--d-border); */
}
/* default styles */

@media (min-width: 30em) {
}

body {
  font-family: var(--ff-primery);
  color: var(--clr-neutral-100);
  background-color: var(--clr-accent-200);
  color-scheme: light dark;
}
html {
  scroll-behavior: smooth;
}

/* Box sizing rules and Remove default margin*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transition-100s and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
